extends ../layouts/default
include ../mixins/author-mixin
include ../mixins/letter-pagination-mixin

block content
	+letterPaginationBlock(data.page)
	ul.content-list
		each authorData in data.authors
			li
				+authorBlock(authorData)