extends ../layouts/default
include ../mixins/image
include ../mixins/book-mixin

block content
	div.row.content-header
		div.2u
			+imageTag(author.photo)
		div.9u.desc
			h2= author.name
			p!= author.content.extended
	div.row
		ul
			each bookData in books
				li
					+bookBlock(bookData)