extends ../layouts/default
include ../mixins/image
include ../mixins/book-mixin

block content
	div.section.group.content-header
		div.col.span_3_of_12
			+imageTag(author.photo)
		div.col.span_4_of_12.offset_1.desc
			h2= author.name
			p!= author.content.extended
	ul.content-list
		each bookData in books
			li
				+bookBlock(bookData)