extends ../layouts/default
include ../mixins/book-mixin
include ../mixins/pagination-mixin
include ../mixins/filters-mixin

block content
	+filterBlock(data.currentFilter || 'tous', data.filters)
	ul.content-list
		each bookData in data.books.results
			li
				+bookBlock(bookData)
	if data.books.totalPages > 1
		+paginationBlock(data.books)