extends ../layouts/default
include ../mixins/image
block title
	!= "Editions Barzakh"
block banner	
	.banner.section.group
		figure.col.span_12_of_12		
			+imageTag(banner.photo)
			figcaption
				!= banner.content.extended

block content
	div.section.group.citation
		div.offset_2.span_5_of_12
			!= citation1.content.extended		
	div.section.group.citation
		div.offset_5.span_5_of_12
			!= citation2.content.extended