extends ../layouts/default

block banner	
	.banner.section.group
		div.image.col.span_12_of_12
			img(src="/images/alger-bg.jpg")
			h2.text.-1u <br/>Littérature,<br/>essais,<br/>beaux livres.

block content
	div.section.group
		div.span_12_of_12
			p « Qu’est-il arrivé à cette part du Monde ; à ses jours, à ses nuits ? Serait-elle tombée dans un entre-deux où chaque composante du temps ne sait dire que son contraire ? N’est-ce pas le barzakh, s’il pouvait exister et s’il faut y vivre ? »
			p Mohammed Dib			
			p(dir="rtl") <br/>الحبر : نمل أسود، أو سيّد<br/>و الحبر : برزخنا الأمين
			p(dir="rtl") محمو د درويش