extends ../layouts/default
include ../mixins/image

block banner	
	.banner.section.group
		div.image.col.span_12_of_12
			+imageTag(banner.photo)

block content
	div.section.group.citation
		div.offset_2.span_5_of_12
			!= citation1.content.extended		
	div.section.group.citation
		div.offset_5.span_5_of_12
			!= citation2.content.extended