extends ../layouts/default
include ../mixins/image

block content
	div.section.group.content-header
		div.col.span_3_of_12
			+imageTag(post.photo)
		div.col.span_7_of_12.desc
			h2= post.title
			h4 #{post.date}
			p!= post.content.extended
