lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.DS_Store

# vim tmp/swp files
*.swp
*.un~

pids
logs
results

npm-debug.log

node_modules/
public/images/*
public/styles/*.min.css

*.ipr
*.iws

docs/_dist
coverage.html
.cover*
