include image
mixin authorBlock(author)
    div.content-link
        +imageTag(author.photo)
        div
            h2
                a(href='/auteurs/' + author.slug)= author.name
            p!=author.content.brief