include image
mixin authorBlock(author)
	div.col.span_6_of_12.content-link
		div.col.span_2_of_12
			+imageTag(author.photo)
		div.col.span_9_of_12.offset_1
			a(href='/auteurs/' + author.slug)
				h3= author.name
			p!= author.content.brief && author.content.brief.length > 20 ? author.content.brief : author.content.extended.substring(0,author.content.extended.indexOf(".",150) + 1)