include image
mixin bookBlock(book)
    div.content-link
        +imageTag(book.photo)
        div
            h2 
                a(href='/catalogue/' + book.slug)= book.name	
            p!=book.content.brief