include ../mixins/flash-messages

doctype html
html
	head
		title Editions Barzakh
		meta(charset="utf-8")
		meta(http-equiv="content-type", content="text/html; charset=utf-8")
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900', rel='stylesheet', type='text/css')
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
		link(href="/styles/site.min.css", rel="stylesheet")

		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body

		//- HEADER
		header.section.group
			div#logo.col.offset_4.span_4_of_12
				h2
					a(href="/")  <span class='barzakh-bracket'>[</span>&nbsp;barzakh&nbsp;<span class="barzakh-bracket">]</span>
		nav.section.group
			ul
				each val, key in nav
					li.col.span_2_of_12(class=(section == key ? 'active' : null)): a(href=val.href)= val.label
						
		block banner
		
		main
			//- The Intro block appears above flash messages (used for temporary information display)
			block intro

			+flash-messages(messages)

			block content

		//- FOOTER
		footer

		//- JAVASCRIPT		
		script(src='/js/lib/jquery/jquery-2.1.0.min.js')
		script(src='/js/barzakh.js')
		script(src='/js/lib/bootstrap/bootstrap-3.1.0.min.js')
		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')
		block js