.content-header {
	padding-top: 4%;
	img {
		max-width: 75%;
        margin: 0 0.2em 0.2em 0;
	}
	.details {
		font-size: 0.7em;
		font-style: italic;
	}
	.desc
	{
		p:first-letter {
			font-size: 20pt;
		}
		text-align: justify;
	}
}

.content-link {
    img {
        max-width: 100%;
		margin-left: 1em;
        float: left;
    }
}

div.content-link:hover {
	background-color: @grey;
	cursor:pointer;
	border-radius: 0.5em;
}

ul.content-list {
	padding-left:25%;
	width:50%;
	> li {
		list-style-type: none;
	}
}