.content-header {
	padding-top: 4%;
	.details {
		font-size: 0.7em;
		font-style: italic;
	}
}

div.content-link {
	margin-top: 1%;
	min-height: 13em;
	
	img {
		border-radius: 0.5em;
		margin-top: 4%;
		margin-left: 10%;
	}
}



div.content-link:hover {
	background-color: @grey;
	cursor:pointer;
	border-radius: 0.5em;
}

ul.content-list {
	> li {
		list-style-type: none;
	}
}

@media only screen and (max-width: 480px) {
	div.content-link {
		padding-left: 3%;
		margin-top: 1%;
	}	
}