.content-header {
	padding-top: 4%;
	.details {
		font-size: 0.7em;
		font-style: italic;
	}
}

div.content-link {
	padding-left: 1%;
	margin-top: 1%;
}

div.content-link:hover {
	background-color: @grey;
	cursor:pointer;
	border-radius: 0.5em;
}

ul.content-list {
	padding-left:25%;
	width:50%;
	> li {
		list-style-type: none;
	}
}