//colors
@black: #180E0B;
@white: #FFFFFF;
@red: rgba(200, 57, 57,1);
@grey: #e3e3e3;

//main
body {
	max-width: 86.75em;
	margin: 1em auto;
	min-height: 100%;
	background: @white;
	font-family: 'Raleway','Georgia';
	font-size: 0.9em;
	font-weight: 300;
	h2, h3 {
		margin-top: 0;		
		font-weight:300;		
	}
	h2 {
		font-size: 2em;
	}
	h3 {
		font-size: 1.2em;
	}
	a {
		text-decoration:none;
	}
	a:visited {
		color: @black;
	}	
	img {
		display: block;
		max-width: 100%;
	}
	p {
		text-align: justify;
	}
	.desc {
		p:first-letter {
			font-size: 20pt;
		}
	}

}

ul {
	padding-left:0%;
}

.citation p {
	font-size: bigger;
}

//sub parts
@import "site/grid.less";
@import "site/banner.less";
@import "site/content.less";
@import "site/logo.less";
@import "site/nav.less";
@import "site/pagination.less";
//@import "site/footer.less";