//colors
@black: #180E0B;
@white: #FFFFFF;
@red: rgba(200, 57, 57,1);

//main
body {
	max-width: 92.3em;
	margin: 1em auto;
	background: @white;
	font-family: 'Raleway';
	font-size: 0.9em;
	font-weight: 300;
	h2 {
		margin-top: 0;
		font-size: 1.6em;
		font-weight:300;
	}
}

//sub parts
@import "site/grid.less";
@import "site/banner.less";
@import "site/content.less";
@import "site/logo.less";
@import "site/nav.less";