/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

#nav
{
	position: absolute;
	right: -4em;
	top: 5em;
}

#nav > ul > li
{
	float: left;
}
		
#nav > ul > li:last-child
{
	padding-right: 0;
}

#nav > ul > li > a,
#nav > ul > li > span
{
	display: block;
	margin-left: 0.7em;
	padding: 0.80em 1.2em;
	letter-spacing: 0.06em;
	text-decoration: none;
	font-size: 1em;
	outline: 0;
}

#nav li.active a
{
	background: @red;
	border-radius: 5px;
	color: @white;
}

#nav > ul > li > ul
{
	display: none;
}